@charset "URD-8";





body{
    text-align: justify;
    color: white;
background-color: #E5E5E5;
font-family: Arial, Helvetica, sans-serif;


}




.imagenlogo{

    margin: 10px;
width: 200px;



}


.imagemmeme{
margin-left: 20px;
   
width: 400px;
box-shadow: 1px 2px 10px 5px #00000010;

}



header{
    border-radius: 5px 5px 5px 5px;
    
    padding: 10px;
    background-color: #EBB025;

    
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.342);


}

 .navheader > a >img{

margin-right: 20px;
    width: 20px;
}











.navp > p{
    
    box-shadow: 1px 2px 10px 5px #00000010;
  
 text-align: center;
  width: 80px;
    font-size: 15px;
    border-radius: 5px;
  padding: 15px;
background-color: #FBFBFB;


}

.navp > p:hover{
    transform: scale(1.05);   
    
}


















.navheader > a {

   
    font-size: 15px;
color:#2D2D2D;
text-decoration: none;

}






nav > a{
    
    padding: 12px;
    font-size: 15px;
color: rgb(211, 204, 204);
text-decoration: none;

}








header > h1{

font-size: 25px;

}










.pedir {
    min-height: 350px;
max-width: 900px;
border-radius: 0px 0px 5px 5px;
    
    font-family: Arial, Helvetica, sans-serif;
    
        
    
    padding: 20px;
        background-color: #EBB025;
   
    
}


.pedir > h1{
    font-size: 40px;
    
text-align: center;
color: #2D2D2D;
    
}

.pedir > p{
    text-align: center;
    font-size: 15px;
    
    color: #2D2D2D;
    
   


}


.pedir > center >  img{

  
    width: 70%
}








.pedir2 {
    min-height: 170px;
max-width: 900px;
border-radius: 0px 0px 5px 5px;
    
    font-family: Arial, Helvetica, sans-serif;
    
        
    
    padding: 20px;
        background-color: #EBB025;
   
    
}


.pedir2 > h1{
    font-size: 40px;
    
text-align: center;
color: #2D2D2D;
    
}

.pedir2 > p{
    text-align: center;
    font-size: 18px;
    
    color: #2D2D2D;
    
   


}


.pedir2 > center >  img{
margin-top: 40px;
  
    width: 40%
}













center > a{
    text-decoration: none;
}

center > a > p{
    border-radius: 5px;
    width: 90px;
    padding: 20px;
    box-shadow: 1px 2px 10px 5px #00000010;
    background-color: #FBFBFB;
    color: #2D2D2D;
    
   
  



}


.icone{


    width: 20px;
}






.main000{
    border-radius: 0px 0px 0px 0px;
   
    margin-top: 30px;
    min-height: 220px;
max-width: 900px;

 
    font-family: Arial, Helvetica, sans-serif;
        
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 20px;
        background-color: white;
        
        border-bottom: solid 4px red;
        border-top: solid 4px red;

}



.main000 > h1{
    text-align: center;
        font-size: 30px;
    color: red;
    }
    
    
    
    .main000 > p{
        color: #2D2D2D;
        text-align: center;
       font-size: 20px;
    
    }
    
    .anuncio2 {
        border-radius: 12px 12px 0px 0px;
        
        margin-top: 30px;
    width: 480px;
    
    
    }
    
    
    #linklaranjatlgazul > a{
            text-decoration: none;
            color: white;
            
    }
    
    #linklaranjatlgazul > p{
       padding: 13px;
    width: 150px;
        background-color: #EBB025;
        box-shadow: 1px 1px 10px 1px rgba(255, 0, 0, 0.199);
    }
    











.main001{
   
    margin-top: 30px;
    min-height: 220px;
max-width: 900px;
    border-radius: 5px 5px 0px 0px;
font-family: Arial, Helvetica, sans-serif;

    color: #2D2D2D;
    box-shadow: 1px 2px 10px 5px #00000010;
padding: 20px;
    background-color: white;
    
border-bottom: solid 4px #EBB025;
}


.main001 > h1{
text-align: center;
    font-size: 23px;

}



.main001 > p{

   font-size: 15px;

}

.anuncio {
    width: 69%;
   margin-top: 30px;
   
    
    border-radius: 12px 12px 0px 0px;
   

}


#linklaranjatlg1 > a{
        text-decoration: none;
        color: #2D2D2D;
        
}

#linklaranjatlg1 > p{

    background-color: #EBB025;
}



.main002{
    border-radius: 5px 5px 0px 0px;
    margin-top: 30px;
    min-height: 220px;
max-width: 900px;
   
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 20px;
        background-color: white;
        
    border-bottom: solid 4px #EBB025;

}



.main002 > h1{
    text-align: center;
        font-size: 23px;
    
    }
    
    
    
    .main002 > p{
        text-align: center;
       font-size: 15px;
    
    }
    
    .anuncio2 {
        border-radius: 12px 12px 0px 0px;
        border-top: solid 4px #EBB025;
        margin-top: 30px;
    width: 40px;
    
    
    }
    
    
    #linklaranjatlgmaior > a{
            text-decoration: none;
            color: #2D2D2D;
            
    }
    
    #linklaranjatlgmaior > p{
       
    width: 110px;
        background-color: #EBB025;
    }
    
    
    
















.main003{
   
    border-top: solid 4px red;
    border-bottom: solid 4px red;
  
  
    margin-top: 30px;
    min-height: 220px;
max-width: 900px;

 
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.342);
    padding: 20px;
        background-color: #EBB025;
        
    



}


.main003 > h1{
    
    color: red;
    text-align: center;
        font-size: 43px;
    
    }
    
    
    
    .main003 > p{
        text-align: center;
       font-size: 15px;
    
    }
    

    

    
    #linklaranjatlgmaior > a{
            text-decoration: none;
            color: #2D2D2D;
            
    }
    
    #linklaranjatlg > p{
        background-color: #FBFBFB;
    width: 110px;
       
    }
    
    











    .main004{
        border-radius: 5px 5px 0px 0px;
      
        margin-top: 30px;
        min-height: 220px;
    max-width: 900px;
    
     
        font-family: Arial, Helvetica, sans-serif;
            color: #2D2D2D;
            box-shadow: 1px 2px 10px 5px #00000010;
        padding: 20px;
            background-color: white;
            
        border-bottom: solid 4px #EBB025;
    
    
    
    }
    
    
    .main004 > h1{
        text-align: center;
            font-size: 23px;
        
        }
        
        
        
        .main004 > p{
            text-align: center;
           font-size: 15px;
        
        }
        
        .anuncio2 {
            border-radius: 12px 12px 0px 0px;
            border-top: solid 4px #EBB025;
            margin-top: 30px;
        width: 480px;
        
        
        }
        
        
        #linklaranjatlg1 > a{
                text-decoration: none;
                color: #2D2D2D;
                
        }
        
        #linklaranjatlg1 > p{
           
        width: 110px;
            background-color: #EBB025;
        }
        





        .main005{
            border-radius: 5px 5px 0px 0px;
          
            margin-top: 30px;
            min-height: 220px;
        max-width: 900px;
        
         
            font-family: Arial, Helvetica, sans-serif;
                color: #2D2D2D;
                box-shadow: 1px 2px 10px 5px #00000010;
            padding: 20px;
                background-color: white;
                
            border-bottom: solid 4px #EBB025;
        
        
        
        }



        .main005 > h1{
            text-align: center;
                font-size: 23px;
            
            }
            
            
            
            .main005 > p{
                text-align: center;
               font-size: 15px;
            
            }
            
            .anuncio2 {
                border-radius: 12px 12px 0px 0px;
                border-top: solid 4px #EBB025;
                margin-top: 30px;
            width: 480px;
            
            
            }
            
            
            #linklaranjatlg1 > a{
                    text-decoration: none;
                    color: #2D2D2D;
                    
            }
            
            #linklaranjatlg1 > p{
               
            width: 110px;
                background-color: #EBB025;
            }
            
    









            .main006{
                
          
                margin-top: 30px;
                min-height: 220px;
            max-width: 900px;
            
             
                font-family: Arial, Helvetica, sans-serif;
                    color: #2D2D2D;
                    box-shadow: 1px 2px 10px 5px #00000010;
                padding: 20px;
                    background-color: white;
                    border-bottom: solid 3px #EBB025;
                
            
            
            
            }



            .main006 > h1{
                text-align: center;
                    font-size: 23px;
                
                }
                
                
                
                .main006 > p{
                    text-align: center;
                   font-size: 15px;
                
                }
                
                .anuncio2 {
                    border-radius: 12px 12px 0px 0px;
                    
                    margin-top: 30px;
                width: 480px;
                
                
                }
                
                
                #linklaranjatlg1 > a{
                        text-decoration: none;
                        color: #2D2D2D;
                        
                }
                
                #linklaranjatlg1 > p{
                   padding: 13px;
                width: 150px;
                    background-color: #EBB025;
                }
                
        


                #linklaranjatlgbottom > p{
                    margin-bottom: 100px;
                    padding: 13px;
                    width: 150px;
                    background-color: #EBB025;

                }
    
                #linklaranjatlglargura > p{

                    margin-bottom: 100px;
                    padding: 15px;
                    width: 200px;
                    background-color: #EBB025;

                }
                

                #linklaranjatlg1 > p:hover{
                    transform: scale(1.05);   
                }


                #linklaranjatlg > p:hover{
                    transform: scale(1.05);   
                }


                #linklaranjatlgbottom > p:hover{
                    transform: scale(1.05);   
                }


                #linklaranjatlgmaior > p:hover{
                    transform: scale(1.05);   
                }


                #linklaranjatlgazul > p:hover{
                    transform: scale(1.05);   
                }





                #linklaranjatlglargura > p:hover{
                    transform: scale(1.05);   
                }

              


aside{
    
    text-align: center;
    border-radius: 5px 5px 5px 5px;
              
    margin-top: 150px;
    min-height: 150px;
max-width: 900px;

 
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 20px;
        background-color: white;
border-top: solid 3px #EBB025;
border-bottom: solid 3px #EBB025;
}




.navaside > a{

    color: #2D2D2D;



}





.promocaocaixa{
    margin-top: 30px;
    display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;


text-align: center;
    border-radius: 5px 5px 5px 5px;
              
    
  

 
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 20px;
        background-color: white;
border-bottom: solid 3px #EBB025;

}


.promocaocaixa > h1{

    text-align: center;
}




.promocaocaixapequeno{


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;


    text-align: center;
    border-radius: 5px 5px 5px 5px;
              
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 0px;
        background-color: #FDFDFD;


}

.promocaocaixapequeno > input{

    padding: 7px;
}




.promocaocaixa1{


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;


    text-align: center;
    border-radius: 5px 5px 5px 5px;
              
    font-family: Arial, Helvetica, sans-serif;
        color: #2D2D2D;
        box-shadow: 1px 2px 10px 5px #00000010;
    padding: 20px;
        background-color: #FDFDFD;


}


.anunciomaior {
    border-radius: 12px 12px 0px 0px;
   
    margin-top: 30px;
width: 480px;


}


.anunciopequeno{

    margin-top: 100px;
    width: 250px;
}






footer{

    border-radius: 5px;
    margin-top: 40px;
padding: 20px;
background-color: #FBFBFB;
border-top: solid 3px #EBB025;

}


footer >  div > h1{

color: #2D2D2D;

}

footer > div > a{
    font-size: 20px;
    font-weight: bold;
color: #EBB025;
text-decoration: none;

}

footer > div > img{
 width: 60px;
 
}

